/* CSS Demo Stylesheet */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /*  ---------------Utility Classes-----------------  */

  .container{
    width:80vw;
    max-width:960px;
    margin: 40px auto; /* auto automatically centers text for all screen sizes*/

    .img-right{
        float:right;
        border:1px soild #c0c0c0;
        padding:5px;
        margin: 10px 0 10px 20px;
        max-width:30vw;
    }
    .img-left{
        float:left;
        border:1px soild #c0c0c0;
        padding:5px;
        margin: 10px 20px 10px 0px;
        max-width:30vw;
    }
    .img-center{
        display:block;
        margin:10px auto;
        border:1px soild #c0c0c0;
        padding:5px;
    }

  }

  /*  ---------------Responsive Images-----------------  */
  img{
    max-width: 100%;
  }



body{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:#CDD7DF;
margin:0;
    
}

main{   
    /*width: 80vw;*/
    /*max-width:960px;*/  
}

header.primary{
background-color:#0D273D;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23CDD7DF' fill-opacity='0.2'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
color:#CDD7DF;
text-align: center;
text-shadow:  .5px .5px #CDD7DF;
/*long form*/
padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left: 40px;
/*Single value short hand*/
padding: 40px;  
/* T,R,B,L */
padding: 20px 40px 20px 40px;  
/* Two Value Top/Bottom / L/R */
padding: 20px 40px;  /* can be used for margin */
}

header.primary h1{
    font-size:2.4rem;
    /* top | left and right | bottom */
    margin:20px 0 0;
}
header.primary h1 a{
    color:#CDD7DF;
    text-decoration:none;
}

header.primary h2{
    font-size: 1.3rem;
    margin: 0;
    letter-spacing:.2px;
}

nav.primary{}
nav.primary ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    max-width:960px;
    margin:20px auto;
}
nav.primary ul li{
    list-style-type:none;
}
nav.primary ul li a{
    color:#CDD7DF;
    font-size: .9rem;
    text-decoration:none;
    border: 2px dashed whitesmoke;
    padding: 7.5px 10px;
    background-color:#8AA7BC;
    background-color:rgba(240,248,255,.4);
    border-radius: 4px 20px 4px 20px;
    transition:.4s;

}



nav.primary ul li a:hover{
    background-color:rgba(240,248,255,.8);
}



#content{}

#content h2{
    color:#0D273D;
    border-bottom: 1px dotted darkgrey;
}

#content h3{
    border-left: 8.5px solid #0D273D;
    padding: 5px 0 5px 10px;
}

#blog{

    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:30px;
    border-top: 1px solid #0D273D;
    border-bottom: 1px solid #0D273D;
    padding: 40px 0; /*space text and border*/
    

}

#blog article.post{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 10px;
    font-size:.8rem;
    border-radius: 5px;
    transition: .5s ;
    background-color:#0D273D;
    color:#CDD7DF;

    

}

#blog article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);



}

figure{
    margin:0;

}

figcaption, time{
    text-transform:uppercase;
    font-size: .6rem;
    /*text-align:center;*/ 
    color:#CDD7DF;
}

#blog article.post a{
    text-decoration:none;
    color:#CDD7DF;

}

table{
    width:100%;
    border:1px solid #CDD7DF;
    border-collapse:collapse;
  }
  caption{
    font-weight: bold;
    margin: 10px;
    font-size:1.3rem;
  }
  tr:nth-child(even){ /*striping chart, even for even rows, odd for odd rows and numbers for number of row*/
    background-color: rgba(0, 0, 0, 0.1);

  }

    tr:hover{
        background-color: rgba(0, 0, 0, 0.3);   

    }
td:nth-child(n+2){
    text-align:right;
    }

  th{
    background-color: #0D273D;
    color:#CDD7DF;
    padding:7.5px;
  }

    
  
  td{
  border:1px solid #CDD7DF;
  padding:5px;
  }

#practice ol{
    list-style-type: lower-roman;

}

#practice ul ul li{
    list-style-type: square;
}

#practice dl dd{
    margin:0;
    
}

#practice dl dt{
    font-weight: bold;

}

dd + dt{
    margin-top: 20px;
}

#practice blockquote{
    border:4px double #0D273D;
    padding: 20px 40px;
    margin: 40px 80px;
    border-radius:4px 20px 4px 20px;
}

#practice blockquote cite{
    display:block;
    text-align: right;
    font-size: 0.8rem;
    margin-top:1rem;

}




aside[role="complementary"]{
    background-color:#8AA7BC;
    padding:40px 0;


}

aside .container{
    display:flex;
    flex-direction: row;
    gap: 40px;
}
 

aside .container a{
    color: white;
    display:block;
    text-align: right;
}

aside article footer{
    display:none;

}

#colophon{
    background-color:#0D273D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23CDD7DF' fill-opacity='0.2'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    padding:1px;
    text-align: center;
    color:#CDD7DF;
    font-size: 1.2rem;
    text-shadow:  .5px .5px #CDD7DF;
}

#practice h2{
    color: #0D273D;
    border-bottom:1px dotted #CDD7DF;
}

#practice a{
    color:#0D273D;
    transition: .5s;
}

#practice a:hover{
    text-decoration: none;
}





@media screen and (max-width:440px){
  
    nav.primary ul{
      flex-direction:column;
      gap:10px;
      max-width: 200px;
      margin:20px auto;

    }

    nav.primary ul li a{
        display:block;
    }

}

